@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {        
    /*Typograhy*/
    --font-sans: 'Work Sans', sans-serif;
    /* Colors */
    --color-bg: #000319;
    --color-cards: #0C0E23;
    --color-cards-stroke: #202236;
    --color-button: #231A33;
    --color-primary: #CBACF9;
    --color-primary-hover: #D8BFFB;   
}

@keyframes infiniteScroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.scroll-animation {
    animation: infiniteScroll 40s linear infinite;
}

.carousel-wrapper:hover .scroll-animation {
    animation-play-state: paused;
}